/.idea/
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
gradle/wrapper/gradle-wrapper.properties
.mvn/
*.iml
documents/design.aux
documents/design.fdb_latexmk
documents/design.fls
documents/design.log
documents/design.toc
gradle/
gradlew
gradlew.bat
out/
src/META-INF/
target/
texput.log
documents/Design.aux
documents/Design.log
documents/Design.toc
